.habit-form {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.habit-form input {
    flex: 1;
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 12px;
    background-color: grey;
    font-size: 1rem;
}

.habit-form input:focus {
    outline: 2px solid orange;
}