@font-face {
  font-family: "Wagon";
  src: url("./assets/Wagon Free Personal Use/Wagon-ExtraLight.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

/* Cambia a Wagon-ExtraBold.otf cuando lo copies a la carpeta de fuentes */
@font-face {
  font-family: "Wagon";
  src: url("./assets/Wagon Free Personal Use/Wagon-Bold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Wagon", sans-serif;
  font-weight: 400;
  background-color: #ECE4D9;
  color: rgb(0, 0, 0);
}

* {
  box-sizing: border-box;
}

p {
  font-family: "Wagon", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3 {
  font-family: "Wagon", sans-serif;
  font-weight: 800;
  font-style: normal;
}
.layout {
  display: grid;
  grid-template-columns: 250px 1fr 250px;
  gap: 2rem;
  padding: 2rem;
}

.left-sidebar,
.right-sidebar {
  position: sticky;
  top: 2rem;
  height: fit-content;
  align-self: start;
}

.main-content {
  background-color: #F4F0EA;
  margin-top: 24px;
  padding: 2rem;
}

@media (max-width: 1100px) {
  .layout {
    grid-template-columns: 1fr;
  }

  .left-sidebar,
  .right-sidebar {
    position: static;
  }
}

#root {
  min-width: 100vh;
}
.app {
  max-width: 700px;
  margin: auto;
  padding: 2rem;
}